<h1>Listing hostgroups</h1>

<table>
  <thead>
    <tr>
      <th>Hostgroup name</th>
      <th>Alias</th>
      <th>Members</th>
      <th>Hostgroup members</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hostgroups.each do |hostgroup| %>
      <tr>
        <td><%= hostgroup.hostgroup_name %></td>
        <td><%= hostgroup.alias %></td>
        <td><%= hostgroup.members %></td>
        <td><%= hostgroup.hostgroup_members %></td>
        <td><%= hostgroup.note %></td>
        <td><%= link_to 'Show', hostgroup %></td>
        <td><%= link_to 'Edit', edit_hostgroup_path(hostgroup) %></td>
        <td><%= link_to 'Destroy', hostgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hostgroup', new_hostgroup_path %>
